<div class="admin_header">
  <h3>Admin Tools</h3>
</div>

<div class="current_members list-group">
  <!-- <#%= simple_table_for @users, with: UserTable %> -->

  <!-- <#%= m.administrator  %>

  create_table "users", force: true do |t|
  t.string   "name"
  t.boolean  "administrator"
  t.datetime "created_at"
  t.datetime "updated_at"
  t.string   "image"
  end -->

</div>
