<div ="admin_header">
  <h3>Admin Tools</h3>
</div>

<div class="current_members list-group">
  Members List
  <table>
    <th> </th> <th> </th> <th>Admin?</th>
    <% @members.each do |m| %>

      <tr><td><%= image_tag( current_user.image, alt: " #{current_user.name}'s member image") %></td> <td><%= m.name  %></td> <td> <%= check_box(:user, :administrator, {checked: m.user_is_admin?})  %></td></tr>


    <% end %>
  </tble>
</div>
