<h1>Add Tool to Library</h1>

<div id="add_field">Add another field</div>

<div class="input_field">
  <%= form_for @tool, url: add_tool_path do |f| %>

</div>
<%=f.submit "Add to library" %>
<% end %>


<h1>Remove Tool from Library</h1>

<% @tools.each do |tool| %>
  <%= button_to "#{tool.name}", {:action => 'destroy', :id => tool.id, :available => tool.available }, :method => :delete, class: "btn btn-default round-button" %>
<% end %>
