<div class="head_create_news">
  <h2 class ="fornow">Make some news</h2>
</div><!--head_create_news-->

<div class="news_form">

  <%= bootstrap_form_for(@post, url: '/post-news') do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :content %>
  <%= f.submit "Post" %>
  <% end %>

</div><!--news_form-->
