<div class="head_create_news">
  <h1>Make some news</h1>
</div><!--head_create_news-->

<div class="news_form">

  <%= bootstrap_form_for(@post, url: create_news_path) do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :content %>
  <div class="form-submit"><%= f.submit "Post" %></div>
  <% end %>

</div><!--news_form-->
