<div class="head_news">
  <h1>Ada's Garden News</h1>
</div><!--head_news-->

<% if current_user.user_is_admin? %>
<div class="create_news_post">
  <%= link_to "Create News Post", post_news_path %>
</div>
<% end %>

<div>
<div class="news_posts">
  <% @posts.each do |n| %>
    <section class="news_listing">
      <h2 class="post-title"><%= n.title %>&nbsp; <small>by <%= n.user.name %></small></h2>
      <p><%=  truncate( n.content, length: 200, separator: " ", omission: " " ) { link_to "... Read more", post_path(n.title) } %></p>
    </section>
</div><!--news_posts-->
  <% end %>
</div>

<nav class="bottom_nav">
  <ul class="pager">
    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
