<div class="head_news">
  <h2 class ="fornow">Ada's Garden News</h2>
</div><!--head_news-->

<% if current_user.user_is_admin? %>
<div class="create_news_post">
  <%= link_to "Create News Post", post_news_path %>
</div>
<% end %>


<div class="news_posts">

  <% @posts.each do |n| %>
    <section class="news_listing">
      <h3><%= n.title %> &nbsp; by <small><%= n.user.name %></small></h3>
      <p><%=  truncate( n.content, length: 200, separator: " ", omission: " " ) { link_to "... Read more", post_path(n.title) } %></p>
    </section>
</div><!--news_posts-->

  <% end %>

<nav class="bottom_nav">
  <ul class="pager">
    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
