/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* GLOBAL */

body {
  font-family: Garamond;
  color: #444;
}

.loginout {
  padding-top: 2.5%;
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  color: #444;
  font-size: 200%;
  text-align: center;
}

h2 {
  font-family: 'Cedarville Cursive', cursive;
  color: #444;
  font-size: 150%;
}

h3 {
  font-family: 'Cedarville Cursive', cursive;
  color: #444;
  font-size: 100%;
}

nav {
  padding-top:5%;
}

nav li {
  list-style-type: none;
  padding-left: 5%;
}

nav li a {
  background-color: #e1ff00;
  padding: 2.5%;
}

nav li a:hover, nav li a:focus {
  color: #444;
}

a {
  color: #444;
  background-color: #e1ff00;
}

a:hover, a:focus {
  text-decoration: none;
  color: #444;
  background-color: #ededed;
}

div .btn {
  display: inline;
}

.round-button {
  width:80px;
  height:80px;
  border-radius:40px;
  background:linear-gradient(to bottom, #5e5c51, #28261c);
  color: #fff;
  font-size: 12px;
  display:inline;
}

.round-button:hover, .round-button:focus {
  color: #444;
  background:linear-gradient(to bottom, #ebf981, #e1ff00);
  border: none;
}

.center {
  text-align: center;
}

/* HOMEPAGE */

.weather {
  border: 1px solid #444;
  padding: 2%;
}

/* TOOLS */

#add_field {
  color: #444;
  font-family: 'Cedarville Cursive', cursive;
}

.remove_field {
  color: #444;
  font-family: 'Cedarville Cursive', cursive;
}

.tool_name:hover, .tool_name:focus {
  border: 2px solid #444;
}

.submit {
  margin-top: 5%;
  background-color: #444;
  color: #ffffff;
}

.add-tools {
  margin-left: 25%;
}
